h1, h2, h3, p {
  font-family: Helvetica;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#brush {
  background-color: MediumSpringGreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.item h2 {
  color: white;
  font-size: 32px;
}

.price {
  font-weight: bold;
  color: blue;
}
